{% extends "base.html" %}
{% load static %}
{% block extra_title %}Programs{% endblock %}

{% block content %}
<header>
    {% include 'includes/main-nav.html' %}
</header>

<section class="margin-top-navbar main-section">
    <!--Main content-->
    <div class="container-fluid p-0">

        <!-- breadcrumbs with links -->

        {% include 'items/includes/breadcrumbs.html' %}

        <!-- page heading -->
        <div class="row">
            <div class="col text-center my-3">
                <h4 class="heading-font heading-item pb-2">Class Details</h4>
            </div>
        </div>

        <!--Details of the program content-->
        <div class="row mx-1 mb-5" id="programDetailRow">
            <div class="col-md-5">
                <img class="img-fluid shadow-sm" src="{{ item.image.url }}" alt="{{ item.name }}">
            </div>
            <div class="col-md-7">
                <h6 class="card-subtitle pb-3"><small>Program:</small>
                    <a href="" class="text-decoration-none logo-green ml-1"> {{ item.program }}</a>
                </h6>
                <h5
                    class="card-title bg-logo-green d-flex align-items-center justify-content-center text-center white px-1 py-2">
                    {{ item.name }}</h5>
                <p class="text-md ps-2">{{ item.description|safe }}</p>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-center text-muted">{{ item.instructor }}</li>
                    <li class="list-group-item text-center">
                        <small class="text-muted logo-green"><i class="fas fa-star logo-green pr-2"></i>
                            {{ item.rating }} / 5</small>
                    </li>
                </ul>
                <div class="d-flex justify-content-center my-2">
                    <a href="#" class="btn btn-lg bg-pink text-center shadow mr-3">Start Now</a>
                </div>
            </div>
        </div>

    </div>
</section>
{% endblock %}