{% extends "base.html" %}
{% load static %}
{% block extra_title %} Lectures {% endblock %}

{% block content %}
<header>
    {% include 'includes/main-nav.html' %}
</header>

<section class="margin-top-navbar">
    <!--Main content-->
    <div class="container-fluid">

        <!-- breadcrumbs to navigate back to hompage or go to lectures -->
        {% include 'items/includes/breadcrumbs.html' %}

        <!-- lectures count -->
        <div class="row">
            <div class="col my-3">
                <p>
                    <i class="fas fa-spa pink mr-1"></i>
                    <em>Total of {{ lectures_count }} lectures available </em>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col my-3">
                {% include 'includes/messages.html' %}
            </div>
        </div>
        <!-- page heading -->
        <div class="row">
            <div class="col text-center my-3">
                <h2 class="heading-font heading-item pb-2">Virtual Yoga lectures</h2>
            </div>
        </div>

        <!-- informative banner with text hidden for mobile view-->
        <div class="row bg-light shadow-lg my-3 mx-3">
             <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
                        <div class="sort-select-wrapper w-50">
                            <select id="sort-selector" class="custom-select custom-select-sm rounded-0 border border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
                                <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                                <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
                                <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
                                <option value="rating_asc" {% if current_sorting == 'rating_asc' %}selected{% endif %}>Rating (low to high)</option>
                                <option value="rating_desc" {% if current_sorting == 'rating_desc' %}selected{% endif %}>Rating (high to low)</option>
                                <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                                <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
                                <option value="category_asc" {% if current_sorting == 'category_asc' %}selected{% endif %}>Category (A-Z)</option>
                                <option value="category_desc" {% if current_sorting == 'category_desc' %}selected{% endif %}>Category (Z-A)</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 order-md-first">
                        <p class="text-muted mt-3 text-center text-md-left">
                            {% if search_term or current_sorting != 'None_None' %}
                                <span class="small"><a href="{% url 'items:lectures' %}">Lectures Home</a> | </span>
                            {% endif %}
                            {{ lectures|length }} Lectures {% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}
                        </p>
                    </div>
                </div>
        </div>

        <!-- display of programs cards in a loop -->
        {% include 'items/includes/lectures-loop.html' %}

        <!-- Pagination added based on bootstrap and django documentation -->
        <nav aria-label="Page navigation example">
            {% if lectures.has_other_pages %}
            <ul class="pagination d-flex justify-content-center">
                {% if lectures.has_previous %}
                <li class="page-item"><a class="page-link logo-green"
                        href="?page={{ lectures.previous_page_number }}">&laquo;</a></li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true"><span>&laquo;</span></a>
                </li>
                {% endif %}

                {% for i in lectures.paginator.page_range %}
                {% if lectures.number == i %}
                <li class="page-item active" aria-current="page">
                    <span class="page-link bg-logo-green active-borders white">{{ i }} <span
                            class="sr-only">(current)</span></span>
                </li>
                {% elif i > lectures.number|add:'-3' and i < lectures.number|add:'3' %}

                <li class="page-item">
                    <a class="page-link logo-green" href="?page={{ i }}">{{ i }}</a>
                </li>
                {% endif %}
                {% endfor %}

                {% if lectures.has_next %}
                <li class="page-item">
                    <a class="page-link logo-green" href="?page={{ lectures.next_page_number }}">&raquo;</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true"><span>&raquo;</span></a>
                </li>
                {% endif %}
            </ul>
            {% endif %}
        </nav>
    </div>
</section>
{% endblock %}