{% extends "base.html" %}
{% load static %}
{% block extra_title %}Programs{% endblock %}

{% block content %}
<header>
    {% include 'includes/main-nav.html' %}
</header>

<section class="margin-top-navbar main-section">

    <!--Main content-->
    <div class="container-fluid p-0">

        <!-- breadcrumbs with links -->

        {% include 'items/includes/breadcrumbs.html' %}

        <!-- page heading -->
        <div class="row">
            <div class="col text-center my-3">
                <h4 class="heading-font heading-item pb-2">Lecture Details</h4>
            </div>
        </div>

         <!--Details of the lecture content-->
       {% include 'items/includes/lecture-content.html' %}

        

    </div>
</section>
{% endblock %}