{% extends "base.html" %}
{% load static %}
{% block extra_title %}Programs{% endblock %}

{% block content %}
<header>
    {% include 'includes/main-nav.html' %}
</header>

<section class="margin-top-navbar">
    <!--Main content-->
    <div class="container-fluid">

        <div class="row">
            <div class="col text-center my-3">
                <h2 class="heading-font heading-item pb-2">Virtual Yoga Programs</h2>
            </div>
        </div>
        <div class="row">
            <div class="col text-center my-3">
                <p><em>{{ program.count }} program{{program.count|pluralize}}</em><i class="fas fa-spa pink ms-1"></i>
                </p>
            </div>
        </div>
        <div class="row pb-3">
            {% for program in programs %}
            <div data-aos="fade-up" class="col-md-4">
                <div class="card classes-card shadow-lg mb-5 mx-3">
                    <a href="">
                        <img class="card-img-top img-fluid shadow" src="{{ program.image.url }}"
                            alt="{{ program.name }}">
                    </a>
                    <div class="card-body">
                        <h5 class="card-title pb-2">{{ program.name }}</h5>
                        <p class="card-text text-md">{{ program.description|safe|truncatewords:10 }}.
                            <span>
                                <a class="btn btn-outline-secondary btn-sm shadow-sm"
                                    href="">
                                    <strong>read more</strong>
                                </a>
                            </span>
                        </p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">{{ program.number_classes }} classes</li>
                        <li class="list-group-item text-muted">{{ program.instructor }}</li>
                        <li class="list-group-item"><small class="text-muted logo-green"><i
                                    class="fas fa-star logo-green pr-2"></i> {{ program.rating }} / 5</small></li>
                    </ul>
                    <div class="card-body d-flex justify-content-evenly my-2">
                        <a href="#" class="btn bg-pink text-center shadow mr-3">Start Now</a>
                        <a href="#" class="btn btn-outline-dark text-center "><small>More Info</small></a>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>

        <!-- Pagination added based on bootstrap and django documentation -->
        <nav aria-label="Page navigation example">
            {% if classes.has_other_pages %}
            <ul class="pagination d-flex justify-content-center">
                {% if classes.has_previous %}
                <li class="page-item"><a class="page-link logo-green"
                        href="?page={{ classes.previous_page_number }}">&laquo;</a></li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true"><span>&laquo;</span></a>
                </li>
                {% endif %}
                {% for i in classes.paginator.page_range %}
                {% if classes.number == i %}
                <li class="page-item active" aria-current="page">
                    <a class="page-link bg-logo-green active-borders" href="#"><span class="white">{{ i }} <span
                                class="sr-only">(current)</span></span></a>
                </li>
                {% else %}

                <li class="page-item">
                    <a class="page-link logo-green" href="?page={{ i }}">{{ i }}</a>
                </li>
                {% endif %}
                {% endfor %}
                {% if classes.has_next %}
                <li class="page-item">
                    <a class="page-link logo-green" href="?page={{ classes.next_page_number }}">&raquo;</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true"><span>&raquo;</span></a>
                </li>
                {% endif %}
            </ul>
            {% endif %}
        </nav>
    </div>
</section>
{% endblock %}