{% extends "base.html" %}
{% load static %}
{% block extra_title %}Programs{% endblock %}

{% block content %}
<header>
    {% include 'includes/main-nav.html' %}
</header>

<section class="margin-top-navbar">
    <!--Main content-->
    <div class="container-fluid">
        
        <!-- breadcrumbs to navigate back to hompage or go to lectures -->
        {% include 'items/includes/breadcrumbs.html' %}

        <!-- page heading -->
        <div class="row">
            <div class="col text-center my-3">
                <h2 class="heading-font heading-item pb-2">Virtual Yoga Programs</h2>
            </div>
        </div>

         <!-- informative banner with sorting box and search results info-->
        <div class="row bg-light shadow-lg my-3 mx-3">
            <div class="col-12 col-md-6 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
                <!-- sorting box -->
                {% include 'items/includes/sorting-box.html' %}
            </div>
            <div class="col-12 col-md-6 order-md-first">
                <p class="text-muted mt-3 text-center text-md-left">
                    <i class="fas fa-spa pink me-2"> | </i> {{ program_count }} Program{{ program_count|pluralize }} 
                        {% if search_term %} found for
                            <strong>"{{ search_term }}"</strong>
                        {% endif %}
                </p>
            </div>
        </div>

        <!-- display of programs cards in a loop -->
            {% include 'items/includes/programs-loop.html' %}
    

        <!-- Pagination added based on bootstrap and django documentation -->
            {% include 'items/includes/programs-loop.html' %}
    </div>
</section>
{% endblock %}