{% extends "base.html" %}
{% load static %}
{% block extra_title %}Frequently Asked Questions{% endblock %}

{% block content %}
<header>
    {% include 'includes/main-nav.html' %}
</header>

<section class="margin-top-navbar">
    <!--Main content-->
    <div class="container-fluid">

        <div class="row">
            <div class="col text-center my-3">
                <h2 class="heading-font heading-item pb-2">Frequently Asked Questions</h2>
            </div>
        </div>
        <div class="row">
            <div class="col text-center my-3">
                <h1>{{ question.question_text }}</h1>
                {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

                <form action="{% url 'vote' question.id %}" method="post">
                    {% csrf_token %}
                    {% for choice in question.choice_set.all %}
                    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
                    <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
                    {% endfor %}
                    <input type="submit" value="Vote">
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}