{% extends "base.html" %}
{% load static %}
{% block extra_title %}FAQ{% endblock %}

{% block content %}
<header>
    {% include 'includes/main-nav.html' %}
</header>

<section class="margin-top-navbar">
    <!--Main content-->
    <div class="container-fluid">

        <div class="row">
            <div class="col text-center my-3">
                <h2 class="heading-font heading-item pb-2">Frequently Asked Questions</h2>
            </div>
        </div>
        <div class="row">
            <div class="col text-center my-3">
                {% if latest_question_list %}
                    <ul>
                        {% for question in latest_question_list %}
                            <li><a href="{% url 'detail' question.id %}">{{ question.question_text }}</a></li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>No Questions are available.</p>
                {% endif %}
            </div>
        </div>
    </div>
</section>
{% endblock %}