{% extends "base.html" %}
{% load static %}
{% block extra_title %}Home{% endblock %}

{% block content %}
<main>
    <section class="home-hero-container">
    <!-- Hero -->
        {% include 'home/includes/hero.html' %}
    </section>
        
    <section>
    <!-- Featured lectures section -->
        {% include 'home/includes/lectures-section.html' %}

    </section>
    <section>
    <!-- Promotional section -->
        {% include 'home/includes/promotional-section.html' %}

    </section> 
    <section>
    <!-- Programs -->
        {% include 'home/includes/programs-section.html' %}
    
    </section>
    <section>
    <!-- Team -->
        {% include 'home/includes/team-section.html' %}

    </section>
    <section>
    <!-- Reviews -->
        {% include 'home/includes/reviews-section.html' %}

    </section>
    <section>
    <!-- Membership details -->
        {% include 'home/includes/membership-section.html' %}

    </section>
    <section>
    <!-- Contact-->
        {% include 'home/includes/contact-section.html' %}

    </section>

</main>
{% endblock %}