{% extends "base.html" %}
{% load static %}
{% block extra_title %}Home{% endblock %}

{% block content %}
<main>
    <section class="home-hero-container">
        <!-- Hero -->
        {% include 'home/includes/hero.html' %}
    </section>
        <!-- Classes -->
        {% include 'home/includes/classes-section.html' %}
    <section>


    </section>

    <!-- Shop -->
    <section>

    </section>

    <!-- About-->
    <section>

    </section>

    <!-- Team-->
    <section>

    </section>

    <!-- Clients-->
    <section>

    </section>

    <!-- Contact-->
    <section>

    </section>

</main>
{% endblock %}