{% extends "base.html" %}
{% load static %}
{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}
{% block extra_title %}Profile{% endblock %}

{% block content %}
<header>
    {% include 'includes/main-nav.html' %}
</header>

<section class="margin-top-navbar">
    <!--Main content-->
    <div class="container-fluid">

        <!--breadcrumbs row with active page-->
        <div class="row">
            <div class="col">
                
            </div>
        </div>

        <!--title row-->
        <div class="row">
            <div class="col text-center my-3">
                <h2 class="heading-font heading-item pb-2">My Profile</h2>
            </div>
        </div>
        <div class="row my-3 mx-3">
            <div class="col-12 col-lg-6 border-dark shadow">
                <p class="text-muted">Default Delivery Information</p>
                <form class="mt-3 mx-3" action="{% url 'profile' %}" method="POST" id="update-form">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn bg-dark-pink white mb-5">Update information</button>
                </form>
            </div>
            <div class="col-12 col-lg-6 border-dark shadow">
                <p class="text-muted">Order History</p>
                {{ orders }}
            </div>
        </div>
    </div>

</section>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'profiles/js/countryfield.js' %}"></script>
{% endblock %}