 {% load static %}
 <!-- Footer-->
<footer class="footer">
    <div class="container-fluid">
        <div class="row align-items-center bg-logo-green py-4">
            <div class="col-lg-4 text-center text-lg-left">Copyright © virtualyogaroom 2021</div>
            <div class="col-lg-4 text-center my-3 my-lg-0">
                <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-twitter"></i></a>
                <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-facebook-f"></i></a>
                <a class="btn btn-dark btn-social mx-2" href="#!"><i class="fab fa-linkedin-in"></i></a>
            </div>
            <div class="col-lg-4 text-lg-right">
                <a class="black text-decoration-none mr-3" href="#!">Privacy Policy</a>
                <a class="black text-decoration-none" href="#!">Terms of Use</a>
            </div>
        </div>
        <div class="row bg-black white py-4">
            <div class="col-12 my-3 my-lg-0">
                <ul class="list-inline text-center">
                    <li class="list-inline-item"><a class="mx-2 white text-decoration-none" href="{% url 'home:home' %}">Home |</a></li>
                    <li class="list-inline-item"><a class="mx-2 white text-decoration-none" href="">About |</a></li>
                    <li class="list-inline-item"><a class="mx-2 white text-decoration-none" href="{% url 'blog:all_blogs' %}">Blog |</a></li>
                    <li class="list-inline-item"> <a class="mx-2 white text-decoration-none" href="{% url 'questions:faq' %}">FAQ</a></li>
                </ul>  
            </div>
        </div>
    </div>
</footer>