{% extends "base.html" %}
{% load static %}
{% block extra_title %}Blog{% endblock %}

{% block content %}
<header>
    {% include 'includes/main-nav.html' %}
</header>

<section class="margin-top-navbar">
    <!--Main content-->
    <div class="container-fluid">

        <div class="row">
            <div class="col text-center my-3">
                <h2 class="heading-font heading-item pb-2">Virtual Yoga Blog</h2>
            </div>
        </div>

        <div class="row pb-3">
           
        </div>
        
    </div>
</section>
{% endblock %}