{% extends "base.html" %}
{% load static %}

{% block content %}
<header>
    {% include 'includes/main-nav.html' %}
</header>

    {% block body %}

    {% if messages %}
    <div>
      <strong>Messages:</strong>
      <ul>
        {% for message in messages %}
        <li>{{message}}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}

    <div class="allauth-templates ms-3 mt-3">
      <strong>Menu:</strong>
      <ul>
        {% if user.is_authenticated %}
        <li><a href="{% url 'account_email' %}">Change E-mail</a></li>
        <li><a href="{% url 'account_logout' %}">Sign Out</a></li>
        {% else %}
        <li><a href="{% url 'account_login' %}">Sign In</a></li>
        <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
        {% endif %}
      </ul>
    </div>
    <div class="container">
       <div class="row">
           <div class="col-12 col-md-6">
               <div class="allauth-form-inner-content mb-5">
                   {% block inner_content %}
                   {% endblock %}
               </div>
           </div>
       </div>
   </div>
    {% endblock %}
    {% endblock %}
    {% block extra_body %}
    
    {% endblock %}
    
    