 <div class="container-fluid">
    <div class="row">
        <div class="col-10 offset-1">
            <h1 class="text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore!</h1>
        </div>
    </div>

    <!-- row with cards displaying 3 classes available -->
    <div class="row" >
    {% for class in classes_section|slice:"4" %}
    <div data-aos="fade-up" class="col-md-4">
     <div class="card" style="width: 18rem;">
        <a href="">
            <img class="card-img-top img-fluid shadow" 
                    src="{{ MEDIA_URL }}{{ class.image }}" 
                    alt="{{ class.name }}">
        </a>
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Cras justo odio</li>
    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item">Vestibulum at eros</li>
  </ul>
  <div class="card-body">
    <a href="#" class="card-link">Card link</a>
    <a href="#" class="card-link">Another link</a>
  </div>
</div>
    </div>
    {% endfor %}
  </div>
        </div>