<div class="transparent-bg h-100  text-center">
    <div class="container-fluid px-0">  
        <!-- Transparent navbar-->
        {% include 'includes/transparent-nav.html' %}
        <div class="row h-100 align-items-center justify-content-center">
            <div class="col-6 py-5">
                <!-- Hero Heading-->
                <h3 class="white">Welcome To Virtual Yoga Room!</h3>
                <h1 class="white">It's Nice To Have You Here</h1>
                <button class="btn bg-pink white btn-lg text-uppercase" href="">Start Now</button>
            </div>
        </div>
    </div>                                                                                                                                                                                                 
</div>