<div class="transparent-bg h-100  text-center">
    <div class="container-fluid h-100 px-0">  
        <!-- Transparent navbar-->
        {% include 'includes/transparent-nav.html' %}
        <div class="row h-100 align-items-center justify-content-center">
            <div class="col-6">
                <!-- Hero Heading-->
                <h1 class="white pb-3">Online Yoga Classes & Meditation</h1>
                <button class="btn bg-white black btn-lg shadow-lg" href=""><strong>Start Your Free Trial</strong></button>
            </div>
        </div>
    </div>                                                                                                                                                                                                 
</div>