<div class="transparent-bg h-100 container-fluid">
    <!-- Transparent navbar-->
    {% include 'includes/transparent-nav.html' %}
    
    
    <div class="row h-100 align-items-center justify-content-center">
        <div class="col-6">
            <!-- Hero Heading-->
            <h3 class="white d-none d-md-block pb-3">Online Yoga Lectures</h3>
            <h1 class="white pb-3">Start Praticing Today!</h1>
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <a class="d-block d-md-none btn bg-white dark-pink shadow-lg" href="{% url 'items:programs' %}"><strong>Start Now</strong></a>
                    <a class="d-none d-md-block btn bg-white dark-pink btn-lg shadow-lg" href="{% url 'items:programs' %}"><strong>Start Now</strong></a>
                </div>
            </div>
        </div>
    </div>                                                                                                                                                                                              
</div>