{% load static %}

<div class="container-fluid">
    <div class="row my-5">
        <div class="col-12 promotional-image">
            <h4 class="black text-end d-none d-md-block">Start Yoga Today!</h4>
        </div>
    </div>
    <div class="row my-5">
        <div class="col-10 offset-1">
            <h1 class="logo-green text-center pb-3">Lorem ipsum dolor sit amet consectetur adipisicin</h1>
            <blockquote class="blockquote">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
            </blockquote>
        </div>
    </div>
</div>