{% extends "base.html" %}
{% load static %}
{% block extra_title %}Class Details{% endblock %}

{% block content %}
<header>
    {% include 'includes/main-nav.html' %}
</header>

<section class="margin-top-navbar">
    <!--Main content-->
    <div class="container-fluid">

        <div class="row">
            <div class="col text-center my-3">
                <h2 class="heading-font heading-item pb-2">Class Details</h2>
            </div>
        </div>


        <div class="row pb-3">

            <div data-aos="fade-up" class="col-md-6">
                <a href="">
                    <img class="card-img-top img-fluid shadow" src="{{ class.image.url }}" alt="{{ class.name }}">
                </a>
            </div>
            <div class="col-md-6">
                <h6 class="card-subtitle pb-2"><small>Program:</small><a href=""
                        class="text-decoration-none logo-green ml-1"> {{ class.program }}</a></h6>
                <h5 class="card-title pb-2">{{ class.name }}</h5>
                <p class="card-text text-md">{{ class.description }}.</p>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-muted">{{ class.instructor }}</li>
                    <li class="list-group-item"><small class="text-muted logo-green"><i
                                class="fas fa-star logo-green pr-2"></i> {{ class.rating }} / 5</small></li>
                </ul>
                <div class="d-flex justify-content-evenly my-2">
                    <a href="#" class="btn bg-pink text-center shadow mr-3">Start Now</a>
                    <a href="#" class="btn btn-outline-dark text-center "><small>More Info</small></a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}