<!-- Details of the lecture content -->
        <div class="row mx-1 mb-5" id="programDetailRow">
            <div class="col-md-5">
                <img class="img-fluid shadow-sm" src="{{ item.image.url }}" alt="{{ item.name }}">
            </div>
            <div class="col-md-7">
                <h6 class="card-subtitle pb-3"><small>Program:</small>
                    <a href="" class="text-decoration-none logo-green ml-1"> {{ item.program }}</a>
                </h6>
                <h5
                    class="card-title bg-logo-green d-flex align-items-center justify-content-center text-center white px-1 py-2">
                    {{ item.name }}</h5>
                <p class="text-md ps-2">{{ item.description|safe }}</p>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item text-center text-muted">{{ item.instructor }}</li>
                    <li class="list-group-item text-center">
                        <small class="text-muted logo-green"><i class="fas fa-star logo-green pr-2"></i>
                            {{ item.rating }} / 5</small>
                    </li>
                </ul>
                <div class="card-body row my-2">
                    <div class="d-flex justify-content-center col-12 col-md-6">
                        <form class="form" action="{% url 'cart:add_to_cart' item.program.id %}" method="POST">
                            {% csrf_token %}
                            <input name="quantity" type="hidden" value="1">
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                            <input type="submit" class="btn bg-pink text-center shadow px-3" value="Buy Program">
                        </form>
                    </div>
                    <div class="d-flex justify-content-center col-12 col-md-6">
                        <a href="{% url 'items:program_details' item.program.id %}" class="btn btn-outline-dark text-center "><small>Program Details</small></a>
                    </div>
                </div>
            </div>
        </div>